# Add any directories, files, or patterns you don't want to be tracked by version control
aclocal.m4
config.h
config.h.in
config.log
config.status
stamp-h1
Makefile
Makefile.in
autom4te.cache/
configure
libtool
config/
*~
*.tar.gz
*.core
*.o
*.a
